# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/

# Docker volumes
qdrant_data/


# Temporary files
video_examples_raw_all/
other_video_examples/
temp/

# IDE
.idea/
.vscode/
*.swp
*.swo 